/* modified https://github.com/chrisnager/ungrid */

@media (min-width: 20em) {
    .row {
        width: 100%;
        display: table;
        table-layout: fixed;
    }
    .col {
        display: table-cell;
    }
}
::selection {
    background: #FFF;
    color: #0892b6;
}
html,
body {
    margin: 0;
}
body {
    font: 18px/40px "Open Sans", "Helvetica", sans-serif;
    background: url(background.jpg);
    background-size: cover;
}
#errors {
    background: #FFF;
    width: 100%;
    line-height: 3em;
    text-align: center;
    margin: 0;
}
#errors a {
    float: right;
    padding: 0 1em;
}
#wrapper {
    width: 800px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.75);
    padding: 1.5em 1.5em 3em 1.5em;
    box-sizing: border-box;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
.error {
    color: #d44f7e;
}
label.error {
    width: 100%;
}
.valid {
    color: #029793;
}
a {
    text-decoration: none;
    color: #0892b6;
}
a:hover {
    text-decoration: underline;
    color: #044859;
}
button:focus,
button:active,
input:focus,
textarea:focus {
    outline: none;
}
h1 {
    font-size: 50px;
    color: #000;
    font-weight: bold;
    text-align: center;
    display: block;
    text-transform: uppercase;
    margin: 0;
    padding: 1em 0;
}
h2,
h3 {
    margin: 3em 0 0.5em 0;
    border-bottom: 3px double #000;
    font-weight: 600;
    font-size: 16px;
}
label {
    cursor: pointer;
    clear: both;
    float: left;
}
input[type="text"],
input[type="email"],
textarea {
    box-sizing: border-box;
    width: 100%;
    display: block;
    border: 1px solid transparent;
    border-radius: 3px;
    line-height: 2em;
    background: #EEE;
    padding: 5px 10px;
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none;
    border: 1px solid #666;
    box-shadow: 0 0 2px #AAA;
}
input[type="radio"] {
    font-size: 50px;
}
textarea {
    max-width: 100%;
    max-height: 20em;
}
button {
    font-size: 18px;
    width: 100%;
    padding: 1em;
    background: #0892b6;
    color: #FFF;
    margin: 3em 0 3em 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}
button:hover {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    background: #044859;
    box-shadow: 0 0 4px #AAA;
    text-decoration: none;
}
button:hover:after {
    content: " & luo PDF >>";
}
button:active {
    background: #0892b6;
    position: relative;
    top: 1px;
    outline: none;
}
.center {
    text-align: center;
}
.huge {
    font-size: 200%;
}
footer {
    margin: 3em 0 0 0;
    padding: 1em 0;
    background: rgba(255, 255, 255, 0.75);
    color: #000;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
}
@media(max-width: 800px) {
    #wrapper {
        width: 100%;
    }
}
