/* modified https://github.com/chrisnager/ungrid */

@font-face {
    font-family: Semplicita Medium;
    src: url(semplicita-medium.otf);
}

@font-face {
    font-family: Semplicita Bold;
    src: url(semplicita-bold.otf);
}
.row {
    border-spacing: 1em 0;
}
::selection {
    background: #DECADE;
    color: #000;
}
html {
    font-size: 62.5%;
}
html,
body {
    margin: 0;
}
body {
    font-size: 18px; font-size: 1.8rem;
    line-height: 3.2rem;
    font-family: "Semplicita Medium", "Helvetica", sans-serif;
    background: url(background.jpg);
    background-size: cover;
}
#errors {
    background: #FFF;
    width: 100%;
    line-height: 3em;
    text-align: center;
    margin: 0;
}
#errors a {
    float: right;
    padding: 0 1em;
}
#wrapper {
    position: relative;
    width: 815px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.5);
    padding: 140px 1em 1em 1em;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
header {
    position: absolute;
    top: 0;
    left: 0;
    background: #3a3a3a;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}
#logo {
    background: #3a3a3a url('logo.jpg') top left no-repeat;
    background-size: cover;
    width: 109px;
    height: 100px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
}
h1 {
    font-size: 50px; font-size: 5rem;
    line-height: 110px;
    color: #FFF;
    font-family: "Semplicita Bold";
    font-weight: bold;
    text-align: center;
    display: block;
    text-transform: uppercase;
    margin: 0;
    vertical-align: middle;
}
.flow {
    background: rgba(255, 255, 255, 0.3);
    padding: 1em 1em 2.5em 1em;
    margin-bottom: 1.5em;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.error {
    color: #d44f7e;
}
label.error {
    width: 100%;
}
.valid {
    color: #029793;
}
a {
    text-decoration: none;
    color: #0892b6;
}
a:hover {
    text-decoration: underline;
    color: #044859;
}
button:focus,
button:active,
input:focus,
textarea:focus {
    outline: none;
}
h2 {
    font-family: "Semplicita Medium";
    font-size: 20px; font-size: 2rem;
    margin: 0;
}
h3 {
    font-family: "Semplicita Medium";
    font-weight: 300;
    border-bottom: 1px solid #000;
}
label{
    cursor: pointer;
    clear: both;
    float: left;
}
input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    box-sizing: border-box;
    width: 100%;
    display: block;
    border: 1px solid transparent;
    border-radius: 3px;
    line-height: 2em;
    background: #EEE;
    padding: 5px 10px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
    outline: none;
    border: 1px solid #666;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
input[type="radio"] {
    font-size: 50px; font-size: 5rem;
}
textarea {
    max-width: 100%;
    max-height: 20em;
}
button {
    font-size: 18px; font-size: 1.8rem;
    width: 100%;
    padding: 1em;
    background: #0892b6;
    color: #FFF;
    margin: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}
button:hover {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    background: #044859;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}
button:hover:after {
    content: " & luo PDF >>";
}
button:active {
    background: #0892b6;
    position: relative;
    top: 1px;
    outline: none;
}
.center {
    text-align: center;
}
.huge {
    font-size: 200%;
}
footer {
    font-size: 14px; font-size: 1.4rem;
    margin: 3em 0 0 0;
    padding: 1em 0;
    background: rgba(255, 255, 255, 0.75);
    color: #000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}
@media(max-width: 55em) {
    h1 {
        text-align: right;
        padding-right: 0.5em;
        font-size: 30px; font-size: 3rem;
    }
    #wrapper {
        margin: 0 auto;
        width: 100%;
    }
}
