<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <title>Kiteyttäjä by Gälliwashere.com</title>
  <link rel="shortcut icon" href="/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
{{#fdMessage.fmContent}}
  <p id="errors">{{fdMessage.fmContent}}<a title="Sulje ilmoitus" href="#">&#9587;</a></p>
{{/fdMessage.fmContent}}
<div id="wrapper">
  <header>
    <div id="logo"></div>
    <h1>Kiteyttäjä</h1>
  </header>
  <form id="crystallized" method="post" action="/submit">

    <h2>Perustiedot</h2>
    <div class="flow">
      <div class="row">
        <label for="company">Pelitunniste</label>
        <input class="required" type="text" name="crystal[identifier]" id="identifier" autofocus="autofocus" />
        <label for="email">Sähköposti</label>
        <input class="email" type="email" name="crystal[email]" id="email" />
      </div>
    </div>

    <div id="slider-handles"></div>

    <h2>Pelilaudalle valikoituneet kortit</h2>
    <div class="flow">
      <div class="row">
        <div class="col">
          <label for="strongest">Vahvin</label>
          <input type="text" name="crystal[strongest]" id="strongest" />
        </div>
        <div class="col">
          <label for="strongest-num">Arvosana</label>
          <input id="strongest-num" type="number" min="1" max="4" />
        </div>
      </div>
    </div>

    <div class="flow">
      <div class="row">
        <div class="col">
          <label for="weakest">Heikoin</label>
          <input type="text" name="crystal[weakest]" id="weakest" />
        </div>
        <div class="col">
          <label for="weakest-num">Arvosana</label>
          <input id="weakest-num" type="number" min="1" max="4" />
        </div>
      </div>
    </div>

    <div class="flow">
      <div class="row">
        <div class="col">
          <label for="important">Tärkein</label>
          <input type="text" name="crystal[important]" id="important" />
        </div>
        <div class="col">
          <label for="important-num">Arvosana</label>
          <input id="important-num" type="number" min="1" max="4" />
        </div>
      </div>
    </div>

    <div class="flow">
      <div class="row">
        <div class="col">
          <label for="hardest">Vaikein</label>
          <input type="text" name="crystal[hardest]" id="hardest" />
        </div>
        <div class="col">
          <label for="hardest-num">Arvosana</label>
          <input id="hardest-num" type="number" min="1" max="4" />
        </div>
      </div>
    </div>

    <div class="flow">
      <div class="row">
        <div class="col">
          <label for="tedious">Ikävin</label>
          <input type="text" name="crystal[tedious]" id="tedious" />
        </div>
        <div class="col">
          <label for="tedious-num">Arvosana</label>
          <input id="tedious-num" type="number" min="1" max="4" />
        </div>
      </div>
    </div>

    <div class="flow">
      <div class="row">
        <div class="col">
          <label for="inspiring">Innostavin</label>
          <input type="text" name="crystal[inspiring]" id="inspiring" />
        </div>
        <div class="col">
          <label for="inspiring-num">Arvosana</label>
          <input id="inspiring-num" type="number" min="1" max="4" />
        </div>
      </div>
    </div>

    <div class="flow">
      <div class="row">
        <label for="topaasia">Topaasia</label>
        <input type="text" name="crystal[topaasia]" id="topaasia" />
      </div>
      <div class="row">
        <label for="openQuestion">Miksi tämä on meidän mielestämme tärkein (Topaasia)?</label>
        <textarea id="openQuestion" name="crystal[openQuestion]"></textarea>
      </div>
      <div class="row">
        <label for="rating">Käytettyyn aikaan nähden saatu hyöty</label>
        <input type="number" min="1" max="5" name="crystal[rating]" id="rating" />
      </div>
    </div>
    <button type="submit">Lähetä lomake</button>
  </form>
</div>
<footer class="center">We Make Organizational Development Games! - <a href="http://www.galliwashere.com" title="Gälliwashere.com">Gälliwashere 2015 &copy;</a> | Software by <a href="http://www.qatsi.info" title="QATSI.info">QATSI</a></footer>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js" ></script>
<script type="text/javascript" src="/messages_fi.js"></script>
<script type="text/javascript" src="custom.js"></script>
</body>
</html>
