<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kiteyttäjä by Gälliwashere.com</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
    <h1>Kiteyttäjä</h1>
    <p>Yrityksen nimi: <span>{{_company}}</span></p>
    <p>Sähköposti: <span>{{_email}}</span></p>

    <p>Vihreät kortit: <span>{{_category_cards_green}}</span></p>
    <p>Punaiset kortit: <span>{{_category_cards_red}}</span></p>

    <h2>Vihreä topaasia</h2>
    <p>Topaasia: <span>{{_topaasia_green}}</span></p>
    <p>Miten kehitämme seuraavaan pelisessioon mennessä: <span>{{_improvement_green}}</span></p>
    <p>Vetovastuu: <span>{{_lead_green}}</span></p>

    <h2>Punainen topaasia</h2>
    <p>Topaasia: <span>{{_topaasia_red}}</span></p>
    <p>Miten kehitämme seuraavaan pelisessioon mennessä: <span>{{_improvement_red}}</span></p>
    <p>Vetovastuu: <span>{{_lead_red}}</span></p>

    <h2>Sekalaista</h2>
    <p>Viime pelisessiossa päätetyt kokeilut (ei täytetä ensimmäisessä pelisessiossa): <span>{{_last_used}}</span></p>
    <p>Miten hyödyllinen pelisessio oli käytettyyn aikaan nähden (1-5, 1 = Hyödytön, 5 = erittäin hyödyllinen): <span>{{_rating}}</span></p>

    <footer>We Make Organizational Development Games! - <a href="http://www.galliwashere.com" title="Gälliwashere.com">Gälliwashere.com</a> 2015 &copy;</footer>
</body>
</html>
